* {
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    height: min-content;
}
body {
    background-image: linear-gradient(#D9A689, #BF8069, #D9D4D2 );
}
main {
    width: 600px;
    padding:10px ;
    margin: auto;
    text-align: center;
    border-radius:10px ;
    box-shadow:5px 5px 15px #59230F ;
}
h1{
    color: #59230F;
    text-align: center;
    text-shadow:1px 1px 2px #59230f69 ;
}
h2 {
    color: #fcf7f5;
}
